/* 黑色 */
$black_dark = #353535
$black = #656565
$black_light = #959595

/* 灰色 */
$gray_dark = #e5e5e5
$gray = #f1f1f1
$gray_light = #e1e1e1

/* 绿色 */
$green_light = #ddefbb
$green = #617f59
$green_dark = #6d7c65
$greed_brown = #6d6757
